<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Username</title>
</head>
<body>
    <h2>here is about to edit user : <%= user.email %></h2>
    <form action="/user/<%= user.id%>?_method=PATCH" method="post">
        <textarea name="username" cols="30" rows="10"><%= user.username %></textarea>
        <input type="password" name="password" placeholder="enter password">
        <button>Edit</button>
    </form>
</body>
</html>